<div class="sidebar">

    <div class="sidebar__wrapper">

        <div class="sidebar__content">
            <h3 class="sidebar__title">
                Игры
            </h3>

            <nav class="sidebar__nav sidebar-nav">
                <ul class="sidebar-nav__list">
                    <li class="sidebar-nav__item">
                        <a href="#" routerLink="" class="sidebar-nav__link">
                            <span>ТЕКУЩИЕ</span>
                        </a>
                    </li>
                    <li class="sidebar-nav__item">
                        <a href="#" routerLink="history" class="sidebar-nav__link">
                            <span>ИСТОРИЯ</span>
                        </a>
                    </li>
                    <li class="sidebar-nav__space">
                    </li>
                    <li class="sidebar-nav__item sidebar-nav__item_edit">
                        <a href="#" routerLink="login" class="sidebar-nav__link">
                            <span>РЕЖИМ</span>
                            <span>РЕДАКТОРА</span>
                        </a>
                    </li>
                </ul>
            </nav>

        </div>

    </div>

</div>
