.mainpage {
  min-width: 100vw;
  min-height: 100vh;

  &__grid {
  }

  &__sidebar {
    position: fixed;
    width: 13rem;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 3;

    @media (max-width: 1000px) {
      width: 12rem;
    }

    @media (max-width: 930px) {
      width: 100%;
      height: 7rem;
    }
  }

  &__content {
    padding-left: 13rem;
    background-color: #fff;
    min-height: 100vh;

    @media (max-width: 1000px) {
      padding-left: 12rem;
    }

    @media (max-width: 930px) {
      padding-left: 0;
      padding-top: 7rem;
    }
  }
}

.logout {
  position: absolute;
  right: 7rem;
  top: 0;
  transform: translate(0, 50%);
  border-radius: 15px;
  overflow: hidden;
  border: 1px solid black;

  &__button {
    padding: 1.15rem 2rem;
    background-color: #000;
    color: #fff;
    font-size: 1.3rem;
    transition: all ease .3s;

    &:hover {
      background-color: #fff;
      color: black;
    }
  }

  @media (max-width: 1400px) {
    right: 4.5rem;
  }

  @media (max-width: 1250px) {
    right: 3rem;
  }

  @media (max-width: 980px) {
    right: 1.5rem;
  }

  @media (max-width: 930px) {
    top: 7.5rem;
  }
}
