.after {
  &__wrapper {
    padding: 2.4rem 4.5rem 30rem;
    width: 100%;

    @media (max-width: 768px) {
      padding: 2.4rem 2rem 30rem;
    }

    @media (max-width: 500px) {
      padding: 2.4rem 1.5rem 30rem;
    }
  }

  &__name {
    font-weight: 700;
    font-size: 1.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .7rem;
    flex-wrap: wrap;
    padding-left: 3rem;
    word-wrap: anywhere;
    text-align: center;
  }

  &__type {
    color: #6B6B6B;
  }

  &__row {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;
  }

  &__rest {
    margin-left: 15%;

    @media (max-width: 1400px) {
      margin-left: 0;
    }

    @media (max-width: 970px) {
      flex: 0 0 100%;
    }
  }

  &__buttons {
    display: flex;
    gap: 1.2rem;
    flex-wrap: wrap;
    justify-content: flex-end;

    @media (max-width: 1400px) {
      gap: .8rem;
    }

    @media (max-width: 970px) {
      justify-content: center;
      flex: 0 0 100%;
    }
  }

  &__button {
    background-color: #000;
    color: white;
    padding: 1.2rem 1.8rem;
    border-radius: 11px;
    font-size: 1.8rem;
    font-weight: 700;
    transition: all ease .3s;

    &-save {
      background-color: #454B7E;
    }

    &-ok {
      background-color: #68A153;
    }

    &-pause {
      background-color: #BE8632;
    }

    &-frozen {
      background-color: #536EA1;
    }
    
    &-stop {
      background-color: #DA0303;
    }
  }
}

.after-rest {

  display: flex;
  justify-content: center;
  overflow: hidden;

  &__container {
    border-radius: 11px;
    background-color: #F0F0F0;
    padding: .5rem .9rem;
    color: #3290FF;
    font-weight: 700;
    font-size: 2.5rem;
  }
}

.after {
  &__results-wrap {
    margin-top: 2rem;
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
  }

  &__results {
    //width: 100%;
    overflow-x: scroll;

    padding-bottom: 1rem;
  }
}

.after-results {
  &__row {
    display: flex;
    width: fit-content;

    &-head {
      position: sticky;
      z-index: 3;
      top: 0;
    }
  }

  &__team-head {
    //width: 10rem;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    left: 0;
    top: 0;
    background-color: #e5e5e5;
    z-index: 2;
    padding: .7rem;
  }

  &__sum-head {
    width: 5rem;
    height: 3rem;
    border: 1px solid black;
    border-left: none;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;

    background-color: #e5e5e5;
    z-index: 2;
  }

  &__score-head {
    width: 3.5rem;
    height: 3rem;

    border: 1px solid black;
    border-left: none;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #e5e5e5;
    position: sticky;
    top: 0;

    transition: all ease .3s;

    &.active {
      background-color: #b7dffc;
    }
  }

  &__team {
    border: 1px solid black;
    border-top: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .7rem;
    position: sticky;
    left: 0;
    white-space: nowrap;

    background-color: #e5e5e5;
    transition: all ease .3s;

    &.active {
      background-color: #b7dffc;
    }
  }

  &__sum {
    width: 5rem;
    height: 3rem;
    text-align: center;

    border: 1px solid black;
    border-top: none;
    border-left: none;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;

    background-color: #fff;
  }

  &__score {
    width: 3.5rem;
    height: 3rem;
  }

  &__input {
    width: 3.5rem;
    height: 3rem;

    border: 1px solid black;
    border-top: none;
    border-left: none;
    text-align: center;
  }
}

.after-designations {
  position: absolute;
  bottom: 0;
  transform: translateY(calc(100% + 2rem));
  //margin-top: 4rem;
  white-space: nowrap;

  &__header {
    padding: 1rem;
    border: 1px solid black;
    width: fit-content;
    border-bottom: none;
  }

  &__table {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-right: none;
    border-bottom: none;
  }

  &__row {
    display: flex;
    font-size: 1rem;
    font-weight: 500;
  }

  &__key {
    width: 3rem;
    min-height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-left: none;
    border-top: none;
  }

  &__value {
    min-height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem;
    border: 1px solid black;
    border-left: none;
    border-top: none;
  }
}
