<div class="after__wrapper">

    <h2 class="after__name">
        {{ game.name }}
        <div class="after__type">
            / {{ OGameType[game.type] }}
        </div>
    </h2>

    <div class="after__row">

        <div class="after__rest after-rest">

            <div class="after-rest__container">
                01:30:30
            </div>

        </div>

        <div class="after__buttons">

            <ng-container *ngIf="toChange.length != 0">
                <button class="after__button after__button-stop" @appear @leave (click)="cancelUpdate()">
                    Отмена
                </button>
                <button class="after__button after__button-save" @appear @leave (click)="updateScores()">
                    Сохранить
                </button>
            </ng-container>


            <ng-container *ngIf="game.status == 1">
                <button class="after__button after__button-pause"
                        @appear @leave
                        (click)="changeStatus(2, 'Приостановить игру?')">
                    Приостановить
                </button>
            </ng-container>

            <ng-container *ngIf="game.status == 2">
                <button class="after__button after__button-ok"
                        @appear @leave
                        (click)="changeStatus(1, 'Возобновить игру?')">
                    Возобновить
                </button>
                <button class="after__button after__button-frozen"
                        @appear @leave
                        (click)="changeStatus(3, 'Заморозить игру?')">
                    Заморозить
                </button>
            </ng-container>

            <ng-container *ngIf="game.status == 3">
                <button class="after__button after__button-pause"
                        @appear @leave
                        (click)="changeStatus(2, 'Разморозить игру?')">
                    Разморозить
                </button>
                <button class="after__button after__button-stop"
                        @appear @leave
                        (click)="changeStatus(4, 'Завершить игру?')">
                    Завершить
                </button>
            </ng-container>

            <ng-container *ngIf="game.status == 4">
                <button class="after__button after__button-stop"
                        (click)="deleteGame()"
                        @appear @leave
                >
                    Удалить игру
                </button>
                <div class="after__button after__button-stop" @appear @leave>
                    Завершена
                </div>
            </ng-container>

        </div>

    </div>

    <div class="after__results-wrap">

        <div class="after__results after-results">
            <div class="after-results__row after-results__row-head">
                <div class="after-results__team-head" #teamRef>
                    Команда
                </div>
                <div class="after-results__sum-head" #sumRef>
                    Сумма
                </div>
                <ng-container *ngFor="let ex of GameExercises.getExercises(game.type)">
                    <div class="after-results__score-head">
                        {{ ex }}
                    </div>
                </ng-container>
            </div>

            <ng-container *ngFor="let team of getTeamsGroups(); let i = index">
                <ng-container [formGroup]="team">
                    <div class="after-results__row">
                        <div class="after-results__team" #teamRef>
                            {{ game.teams[i].name }}
                        </div>
                        <div class="after-results__sum" #sumRef>
                            {{ game.teams[i].sumScore }}
                        </div>

                        <ng-container *ngFor="let score of team.controls.scores.controls; let j = index">
                            <div class="after-results__score">
                                <input class="after-results__input" type="text" [formControl]="score.controls.score">
                            </div>
                        </ng-container>
                    </div>
                </ng-container>
            </ng-container>

            <div class="after-results__designations after-designations">
                <div class="after-designations__header">
                    Обозначения
                </div>

                <div class="after-designations__table">
                    <ng-container *ngFor="let des of desis">
                        <div class="after-designations__row">
                            <div class="after-designations__key">
                                {{ des[0] }}
                            </div>
                            <div class="after-designations__value">
                                {{ des[1] }}
                            </div>
                        </div>
                    </ng-container>
                </div>
            </div>

        </div>

    </div>

</div>
