<section class="edit" @appear>

    <app-back-to-main></app-back-to-main>

    <div class="edit__wrapper">

        <ng-container *ngIf="game; else loading">

            <app-before-started
                    [game]="game"
                    *ngIf="game.status == 0"
                    class="edit__before"
                    (changeStatusEvent)="changeGameStatus($event)"
                    (deleteEvent)="deleteGame()"
                    @appear @leave
            ></app-before-started>

            <app-after-started
                    [game]="game"
                    class="edit__after"
                    (changeStatusEvent)="changeGameStatus($event)"
                    *ngIf="game.status != 0"
                    @appear @leave
            ></app-after-started>


        </ng-container>
        <ng-template #loading>
            <div class="loader" @appear>
                <img src="assets/icons/loader-black.svg">
            </div>
        </ng-template>
    </div>

</section>
