@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Quicksand:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap');

*{
  padding: 0;
  margin: 0;
  border: 0;
}
*,*:before,*:after{
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
a:visited{color: inherit;}
a{color: inherit;}
nav,footer,header,aside{display: block;}
html,body{
  height: 100%;
  width: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;line-height: 1;background-color: transparent;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;line-height: 1;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}

//!-----------------------------------------------!//


html {
  font-family: 'Quicksand', sans-serif;
  letter-spacing: .035rem;
}

.inter {
  font-family: 'Inter', sans-serif;
}

.title-page {
  font-size: 4rem;
  font-weight: 700;
  color: #6B6B6B;
}

.loader {
  position: fixed;
  left: 50%;
  top: 25%;

  transform: translateX(-50%);
}
