.game {
  min-height: 100vh;

  background-color: #fff;
  display: flex;
  flex-direction: column;
  padding: 2.4rem 4.5rem;

  @media (max-width: 768px) {
    padding: 2.4rem 2rem;
  }

  @media (max-width: 500px) {
    padding: 2.4rem 1.5rem;
  }

  &__wrapper {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
  }

  &__name {
    font-weight: 700;
    font-size: 1.6rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: .7rem;
    width: 100%;
    padding-left: 3rem;
    word-wrap: anywhere;
    text-align: center;

    @media (max-width: 500px) {
      padding-left: 3.5rem;
    }
  }

  &__type {
    color: #6B6B6B;
  }

  &__row {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 1.5rem;
  }

  &__rest {
    margin-left: 15%;

    @media (max-width: 500px) {
      margin-left: 0;
    }
  }

  &__buttons {
    display: flex;
    gap: 1.2rem;
    justify-content: flex-end;
  }

  &__button {
    background-color: rgb(107, 107, 107);
    color: white;
    padding: 1.2rem 1.8rem;
    border-radius: 11px;
    font-size: 1.8rem;
    font-weight: 700;
    transition: all ease .3s;

    &-save {
      background-color: #454B7E;
    }

    &-ok {
      background-color: #68A153;
    }

    &-pause {
      background-color: #BE8632;
    }

    &-frozen {
      background-color: #536EA1;
    }

    &-stop {
      background-color: #DA0303;
    }
  }

  &__results-wrap {
    margin-top: 2rem;
    width: 100%;
    //overflow-y: ;
  }

  &__results {
    //width: 100%;
    overflow-x: scroll;

    padding-bottom: 1rem;

    &-wrap {
      width: 100%;
      display: flex;
      justify-content: center;
    }
  }
}

.game-rest {
  padding: .5rem .9rem;
  background-color: #F0F0F0;
  border-radius: 11px;

  &__container {
    color: #3290FF;
    font-weight: 700;
    font-size: 2.5rem;
  }
}

.game-results {
  &__row {
    display: flex;
    width: fit-content;

    &-head {
      position: sticky;
      z-index: 3;
      top: -3rem;
    }
  }

  &__team-head {
    //width: 10rem;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    left: 0;
    top: 0;
    background-color: #e5e5e5;
    z-index: 2;
    padding: .7rem;
  }

  &__sum-head {
    width: 5rem;
    height: 3rem;
    border: 1px solid black;
    border-left: none;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;

    background-color: #e5e5e5;
    z-index: 2;
  }

  &__score-head {
    width: 3.5rem;
    height: 3rem;

    border: 1px solid black;
    border-left: none;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #e5e5e5;
    position: sticky;
    top: 0;
  }

  &__team {
    //width: 10rem;
    border: 1px solid black;
    border-top: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .7rem;
    position: sticky;
    left: 0;
    white-space: nowrap;

    background-color: #e5e5e5;
  }

  &__sum {
    width: 5rem;
    height: 3rem;
    text-align: center;

    border: 1px solid black;
    border-top: none;
    border-left: none;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;

    background-color: #fff;
  }

  &__score {
    width: 3.5rem;
    height: 3rem;
    border: 1px solid black;
    border-top: none;
    border-left: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
  }
}
